{% extends 'base/base2.html' %}

{% block data %}
<div>
    <h3 style="margin: 0">Total Incomplete Tasks:<i>{{count}}</i></h3>
         <br>
</div>
        <div>
        <h1 style="float: left">List Of Tasks:</h1>
       <h4 style="float: right"><a  class="button2" href="{% url 'create' %}">Add Task</a></h4>

    </div>
    <br><br><br><br>
<span>
  <form class="topnav" method="GET">
    <input type="text" name="search-area" placeholder="Search" value="{{search_input}}">
    <input type="submit" hidden>
    </form>
</span>
    <br>
        <table style="width:100%; background-color: rgba(255,255,255,0.13);">
  <tr style="background-color: rgba(255,255,255,0.13);">
       <th style="width:100%">Status</th>
    <th style="width:100%">Tasks</th>
    <th style="width:100%">Assigned By</th>
    <th style="width:110%">Actions</th>

  </tr>
  <tr>
      {% for task in tasks %}
        {% if task.complete %}
            <td style="text-align: center"><img src="https://img.icons8.com/ios-glyphs/30/000000/checkmark--v1.png"/></td>
        <td><a class="button3" href="{% url 'view' task.id %}">{{task.title}}</a></td>
        <td><a class="button4">{{task.assigned_by|upper}}</a></td>
             <td>
            <a class="button2" href="{% url 'edit' task.id %}"><i class="fa fa-pencil"></i></a>
            <a class="button2" href="{% url 'delete' task.id %}"><i class="fa fa-trash-o"></i></a>

        </td>



        {% else %}
            <td style="text-align: center">&#10060;</td>
        <td><a class="button3" href="{% url 'view' task.id %}">{{task.title}}</a></td>
        <td><a class="button4">{{task.assigned_by|upper}}</a></td>
        <td>
            <a class="button2" href="{% url 'edit' task.id %}"><i class="fa fa-pencil"></i></a>
            <a class="button2" href="{% url 'delete' task.id %}"><i class="fa fa-trash-o"></i></a>

        </td>



        {% endif %}

  </tr>
     {% empty %}
        <h3>
        No Task Created Yet!
        </h3>
    {% endfor %}
</table>
    </div>

{% endblock data  %}